USE [MakroSoftDB2]
GO
/****** Object:  StoredProcedure [dbo].[SPConsultaAuditoria_select]    Script Date: 19/05/2016 17:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Oscar Ortiz
-- Create date: 12/05/2016
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SPConsultaAuditoria_select] 
AS
BEGIN

SELECT isnull([PKAuditoria], '') [Nro Auditoria]
      ,isnull([Accion], '') Accion
      ,isnull([Notas], '') Notas
  FROM Auditoria

END

GO
