USE [MakroSoftDB2]
GO
/****** Object:  StoredProcedure [dbo].[SPConsultaProcesadores]    Script Date: 12/05/2016 23:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Oscar Ortiz
-- Create date: 12/05/2016
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SPConsultaProcesadores]
	
AS
BEGIN

  SELECT isnull(PKProcesador, '') as [Nro Procesador]
      ,isnull(NombreProcesador, '') as [Nombre Procesador]
      ,isnull(Notas, '') as [Notas]
  FROM Procesador 


END